@import "buefy";

body {
    background: #fafafa
}

.is-disable {
    pointer-events: none;
    opacity: .65
}

.is-vcentered {
    align-items: center
}

#wrapper {
    display: flex;
    min-height: calc(100vh);
    flex-direction: column
}

#main {
    flex: 1
}

#footer {
    height: 107px;
    padding: 16px
}

.navbar-brand {
    margin-left: 0 !important;
    @media(max-width: 1024px) {
        margin-left: 1.5rem !important
    }
    .navbar-item {
        padding: 0;
        img {
	  max-height: unset
        }
    }
}

.navbar-burger {
    margin-right: .5rem !important;
    background: 0 !important
}

.navbar-menu {
    margin: 0 1.5rem
}

.autocomplete--algolia {
    $inputDefPaddingRight: calc(0.625em - 1px);
    $inputDefRightIconWidth: 2.25em;
    $inputLogoWidth: 112px;
    .control.is-loading .input {
        background-image: url(../assets/img/logo-algolia.svg);
        background-repeat: no-repeat;
        background-position: center right calc(#{$inputDefPaddingRight} + #{$inputDefRightIconWidth});
        background-size: #{$inputLogoWidth} 16px;
        padding-right: calc((#{$inputDefPaddingRight} * 2) + #{$inputLogoWidth} + #{$inputDefRightIconWidth})
    }
}

.box {
    &--fixed-width {
        width: 900px;
        max-width: 100%;
        margin: 0 auto
    }
}

.dropdown-menu {
    .dropdown-item {
        padding-right: 1em
    }
}

@media screen and (min-width: 769px) {
    .field-label {
        flex-grow: 1.5 !important
    }
}

.hero-body {
    padding-top: 0 !important
}

.autocomplete .dropdown-item .media .media-left img {
    height: 56px;
    width: 56px;
    vertical-align: middle;
    object-fit: contain;
    background: #fff
}

.subtitle {
    margin: .5rem 0 !important
}