.idea/**/shelf/
.idea/**/workspace.xml
.idea/**/vcs.xml
.idea/**/.name
.idea/**/httpRequests/
.idea/**/dataSources/
.idea/**/dataSources.local.xml

.DS_Store
$RECYCLE.BIN/
Thumbs.db
*.log
dist/
.astro/
node_modules/

.firebase
/csp-nonce.txt
/firebase.json

unplugin-auto-import.d.ts
unplugin-vue-components.d.ts
.generated
coverage
