@mixin vh-real-hover {
    @media (hover: hover) {
        @content
    }
}

@mixin vh-ellipsis-multiline($line) {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical
}
