// color
$vh-color-primary: #88DF95;
$vh-color-secondary: #00262C;

// timing
$vh-timing: cubic-bezier(.25, .8, .25, 1);
$vh-duration-short: .195s;
$vh-duration-medium: .225s;
$vh-duration-long: .375s;

// various
$vh-card-hover-opacity: .08;
