// color
$vh-color-primary: #88df95;
$vh-color-secondary: #00262c;

$vh-color-body: #121212;
$vh-color-app-drawer: $vh-color-body;
$vh-color-app-bar: $vh-color-body;

// various
$vh-card-hover-opacity: .08;

// sizing
$vh-app-bar-height: 72px;
$vh-app-drawer-width: 256px;
