$border-radius-root: 12px;

$btn-letter-spacing: 0;
$btn-text-transform: unset;

$tabs-item-max-width: 50%;
$tabs-item-letter-spacing: .0892857143em / 4;
$tab-disabled-opacity: 1;

$breadcrumbs-padding: 0;
$breadcrumbs-even-child-padding: 0;
$breadcrumbs-item-font-size: 12px;

$app-bar-elevation: 0;

$input-prepend-append-outer-margin: 8px;
