$border-radius-root: 12px;

$btn-letter-spacing: 0;
$btn-text-transform: unset;

$tabs-item-max-width: 50%;
$tabs-item-letter-spacing: .0892857143em / 4;
$tab-disabled-opacity: 1;

$breadcrumbs-even-child-padding: 0 8px;

$app-bar-elevation: 0;

.v-alert__icon {
    align-self: center
}

.v-input--is-readonly {
    pointer-events: none
}

.v-input__append-inner {
    pointer-events: all
}

.v-tab {
    text-transform: unset
}
