---
import DefaultLayout from "@/layouts/default-layout.astro";
import PageHeader from "@/components/common/page-header.vue";
import Container from "@/components/common/container.vue";
import Breadcrumbs from "@/components/common/breadcrumbs.vue";
import Heading1 from "@/components/common/heading-1.vue";
import KdvHesaplayici from "@/domains/kdv-hesaplayici/components/kdv-hesaplayici.vue";

import { KdvHesaplayiciPageDef } from "@/domains/kdv-hesaplayici/page-def.js";

const kdvHesaplayiciPage = KdvHesaplayiciPageDef();
---

<DefaultLayout page={kdvHesaplayiciPage}>
    <PageHeader>
        <Container>
            <Breadcrumbs
                items={kdvHesaplayiciPage.breadcrumbs}
                client:load />
            <Heading1>
                {kdvHesaplayiciPage.title}
            </Heading1>
        </Container>
    </PageHeader>

    <section>
        <KdvHesaplayici
            calculatorPage={kdvHesaplayiciPage}
            client:load />
    </section>

    <Container>
        <div class="ta-ad-last" ta-ad-container=""></div>
    </Container>
</DefaultLayout>
