@import "@fontsource-variable/inter";
@import "@fontsource-variable/roboto-mono";

.fade-transition {
    &-enter-active,
    &-leave-active {
        transition: vh-transition(opacity, var(--vh-duration-medium))
    }
    &-enter-from,
    &-leave-to {
        opacity: 0
    }
}

.fade-scale-transition {
    &-enter-active,
    &-leave-active {
        transition: vh-transition(transform opacity, var(--vh-duration-medium))
    }
    &-enter-from,
    &-leave-to {
        transform: scale(0);
        opacity: 0
    }
    &-active {
        position: absolute
    }
}


.data-sortable-ghost {
    position: relative;
    &::before {
        position: absolute;
        z-index: 100;
        inset: 0;
        block-size: 100%;
        inline-size: 100%;
        content: "";
        border-radius: inherit;
        overflow: hidden;
        background: vh-calculate-overlay-color($clr-body-bg, rgba($clr-primary, .08)) !important;
        border: inherit
    }
}

[data-sortable-handle] {
    cursor: move !important
}

.sortable-chosen [data-sortable-hide-ghost] {
    visibility: hidden !important
}


[ta-ad-container] {
    --_margin: calc(var(--vh-spacer) * 2);
    &.ta-ad-first.ta-ad-last {
        min-height: var(--_margin)
    }
    &:not(:empty) {
        background: #323332; // Same color as the ad border
        margin-inline: calc(var(--container-padding-inline) * -1);
        inline-size: calc(100% + (var(--container-padding-inline) * 2));
        padding-inline: var(--container-padding-inline);
        @include vh-media-breakpoint-up(sm) {
            margin-inline: calc(var(--vh-spacer) * -1);
            inline-size: calc(100% + (var(--vh-spacer) * 2));
            padding-inline: var(--vh-spacer);
            @include vh-squircle(calc(var(--vh-br-normal) + var(--vh-spacer)))
        }
        &.ta-ad-first {
            margin-block-end: var(--_margin)
        }
        &.ta-ad-last {
            margin-block-start: var(--_margin)
        }
    }
}

iframe.inlined-ta-ad {
    @include vh-squircle(var(--vh-br-normal));
    overflow: hidden !important;
    transition: none !important
}
