.text-number {
    @include vh-text-number
}

.link {
    @include vh-link
}

.text-center {
    text-align: center
}

.w-100 {
    inline-size: 100%
}

.visually-hidden {
    @include vh-screen-reader-only
}

.cursor-copy {
    @supports (cursor: copy) {
        cursor: copy !important
    }
}

.stretched-link {
    &::after {
        position: absolute;
        z-index: 1;
        inset: 0;
        content: ""
    }
}
