body {
    user-select: none
}

.v-navigation-drawer__content {
    display: flex;
    flex-direction: column
}

.v-breadcrumbs {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    padding-left: 0 !important;
    padding-right: 0;
    -webkit-overflow-scrolling: touch
}

.v-input--is-readonly {
    pointer-events: none;
    .v-input__append-inner {
        pointer-events: all
    }
}

.v-tabs-items {
    background: 0 !important
}
