html, body {
    background: #121212
}

body {
    user-select: none
}

.v-input--is-readonly {
    pointer-events: none;
    .v-input__append-inner {
        pointer-events: all
    }
}

.pointer-events-none {
    pointer-events: none
}

.h-100 {
    height: 100%
}

.position-relative {
    position: relative
}
