.w-100 {
    width: 100%
}

.theme--dark .v-bar--underline {
    border-bottom: 1px solid hsla(0, 0%, 100%, .12) !important
}

.theme--light .v-bar--underline {
    border-bottom: 1px solid rgba(0, 0, 0, .12) !important
}

.theme--dark .v-navigation-drawer {
    border-right: 1px solid hsla(0, 0%, 100%, .12) !important
}

.theme--light .v-navigation-drawer {
    border-right: 1px solid rgba(0, 0, 0, .12) !important
}