.v-navigation-drawer__content {
    display: flex;
    flex-direction: column
}

.v-input--checkbox {
    padding-top: 0;
    .v-input__slot {
        margin-bottom: 0
    }
}

.v-breadcrumbs {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    padding-left: 0 !important;
    padding-right: 0;
    -webkit-overflow-scrolling: touch
}

.v-input--is-readonly {
    pointer-events: none;
    .v-input__append-inner {
        pointer-events: all
    }
}

.v-label {
    color: #fff
}

.v-input--checkbox.v-input--is-disabled .v-label {
    color: #ffffff4d
}

.theme--dark.v-tabs-items {
    background: 0
}

.v-chip--active:before, .v-item--active:before {
    opacity: 0 !important
}