---
import AppLayout from "@/layouts/app-layout.astro";
import PageHeader from "@/components/common/page-header.vue";
import Container from "@/components/common/container.vue";
import Heading1 from "@/components/common/heading-1.vue";
import RichText from "@/components/common/rich-text.vue";
import DwightSchruteVideo from "@/components/dwight-schrute-video.vue";

import { AnaSayfaPageDef } from "@/domains/ana-sayfa/page-def.js";

const anaSayfaPage = AnaSayfaPageDef();
---

<AppLayout page={anaSayfaPage}>
    <PageHeader>
        <Container>
            <Heading1>
                Hata falan mı oldu, bir şey oldu sanki…
            </Heading1>
        </Container>
    </PageHeader>

    <Container>
        <RichText
            is="section"
            class="text">
            <p>…ama bu aramızda kalabilir ¯\_(ツ)_/¯</p>
            <DwightSchruteVideo client:idle />

            <hr />

            <p><b><i>Ehem, biraz ciddiyet.</i> Şunları deneyebilirsiniz:</b></p>
            <ul>
                <li>Bağlantıyı yazım hatalarına karşı tekrar kontrol edin.</li>
                <li><a href={anaSayfaPage.url}>{anaSayfaPage.title}</a>'ya dönün ve oradan devam edin.</li>
                <li>Nerede yanlış yaptığınızı düşünün.</li>
            </ul>

            <div class="ta-ad-last" ta-ad-container=""></div>
        </RichText>
    </Container>
</AppLayout>

<style lang="scss">
    .heading-1 {
        padding-block-start: var(--breadcrumbs-block-size)
    }

    .text {
        @include vh-media-breakpoint-down(md) {
            text-align: center
        }
    }
</style>
