---
import type { Head } from "@/types/common.js";

// oxlint-disable-next-line no-unassigned-import
import "@/assets/css/style.scss";

import DefaultLayoutHead from "@/layouts/default-layout-head.astro";
import Tinyadz from "@/components/tinyadz.astro";
import Header from "@/components/header.astro";
import MainBody from "@/components/main-body.vue";
import MainFooter from "@/components/main-footer.vue";

export type Props = {
    head: Head;
};
const { head } = Astro.props;

const EXCHANGE_RATES = getExchangeRates();
const BASE_URL = siteUrl();
---

<html
    itemscope=""
    itemtype="https://schema.org/WebSite"
    lang="tr"
    dir="ltr">
<head>
    <DefaultLayoutHead head={head} />
    <Tinyadz />
</head>
<body>
    <Header />

    <MainBody>
        <slot name="default" />
    </MainBody>

    <MainFooter EXCHANGE_RATES={EXCHANGE_RATES} />

    <div
        hidden=""
        inert=""
        itemscope=""
        itemtype="https://schema.org/Organization">
        <meta itemprop="url" content={BASE_URL.href} />
        <meta itemprop="logo" content={staticUrl("/pwa/favicon-96x96.png")} />
    </div>
</body>
</html>
