---
import type { Head } from "@/types/common.js";

// oxlint-disable-next-line no-unassigned-import
import "@/assets/css/style.scss";

import DefaultLayoutHead from "@/layouts/default-layout-head.astro";
import Header from "@/components/header.astro";
import MainBody from "@/components/main-body.vue";
import MainFooter from "@/components/main-footer.vue";
// import SvgCacheDefs from "@/components/svg-cache-defs.astro";

export type Props = {
    head: Head;
};
const { head } = Astro.props;

const EXCHANGE_RATES = getExchangeRates();
const IS_DEV_MODE = import.meta.env.DEV;
---

<html
    itemscope=""
    itemtype="https://schema.org/WebSite"
    lang="tr"
    dir="ltr">
<head>
    <DefaultLayoutHead head={head} />

    <script
        is:inline
        src="https://cdn.apitiny.net/scripts/v2.0/main.js"
        data-site-id="68d6da655ba59d41c1dbce36"
        async=""
        data-test-mode={IS_DEV_MODE ? "true" : "false"}></script>
</head>
<body>
<Header />

<MainBody>
<slot name="default" />
</MainBody>

<MainFooter EXCHANGE_RATES={EXCHANGE_RATES} />

<!-- <SvgCacheDefs /> -->
</body>
</html>
