.form-check-group-presets {
    grid-template-columns: repeat(3, 1fr);
    margin-block-start: var(--vh-spacer);
    :deep(.form-check) {
        background-image: none
    }
    :deep(b) {
        font-weight: var(--vh-fw-semibold);
        @include vh-text-number
    }
}
