:deep(.form-check-group-mode) {
    grid-template-columns: 1fr !important // FIXME: Remove `!important` 😔
}

:deep(.form-check-group-rate-presets) {
    grid-template-columns: repeat(3, 1fr) !important; // FIXME: Remove `!important` 😔
    margin-block-start: var(--vh-spacer);
    .form-check {
        background-image: none
    }
    b {
        font-weight: var(--vh-fw-semibold);
        @include vh-text-number
    }
}
