.form-check-group-preset-options {
    &:has(> *:nth-child(1)),
    &:has(> *:nth-child(2)),
    &:has(> *:nth-child(3)) {
        grid-template-columns: repeat(auto-fill, minmax(144px, 1fr))
    }
    &:has(> *:nth-child(4)) {
        grid-template-columns: repeat(3, 1fr);
        @include vh-media-breakpoint-up(md) {
            grid-template-columns: repeat(4, 1fr)
        }
    }
    :deep(small) {
        font-weight: var(--vh-fw-semibold);
        @include vh-text-number
    }
}

.form-check-group-registration {
    grid-template-columns: repeat(2, 1fr)
}
